@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: darkslategray;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: darkslategray;
  
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.darkHeading {
  color: #333;
}
.sliderText{
  color: #f2f2f2;
}
.navHead {
  display: inline;
}
.sliderHeight{
  max-height: 60vh;
}
p{
  margin-top: 30px;
}
li{
  padding: 20px;
  margin: 10px;
  background-color:antiquewhite;
  list-style-type: none;
  font-size: 30px;
  font-weight: 500;
}
li >small {
  font-size: 15px;
}